{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div
        class="presentation"
    >
        <div>
            <div>VueJS</div>
            <div>Symfony</div>
        </div>
        <div>
            <div>Open-source VueJS Admin template based on JSON data sources.</div>
            <div>Manage content tables with a single columns configuration.</div>
            <div>Define your API endpoints using a standardized structure.</div>
            <div>GET</div>
            <div>POST</div>
            <div>PUT</div>
            <div>DELETE</div>
            <div>... to generate interfaces and modify data.</div>
        </div>
    </div>

    <div class="panel">
        <form method="post">

            {% for flash_success in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ flash_success }}</div>
            {% endfor %}

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div>
                <label></label>
                <h1>Sign in</h1>
            </div>
            <div>
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="off" required autofocus>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" value="{{ last_password }}" name="_password" id="password" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}

            <div>
                <label></label>
                <button class="btn btn-lg btn-primary" type="submit">
                    Sign in
                </button>
            </div>
            {#
            <div>
                <label></label>
                <a href="{{ url('app_register') }}">&bull; Click here to create an account</a>
            </div>
            #}
        </form>
    </div>

{% endblock %}
